<div  style="text-align: center;">

    <h1>about - handlebars</h1>

    {{!-- accessing array of objects --}}
        {{#each persons}}
        <li>{{uname}}</li>
        <li>{{this.role}}</li>
        {{/each}}
    

</div>

