 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">shoping app</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success mx-2" href="/products/products">product</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning mx-2" href="/products/add-products">Add product</a>
        </li>
        <li class="nav-item">
        </li>
    
      </ul>

    </div>
    
          <a class=" btn btn-danger  mx-1  " href="/products/create-order">Create Order</a>
          <a class=" btn btn-secondary  mx-1 " href="/products/order">Order</a>

          <a class=" btn btn-success right mx-1  " href="/products/search">Search</a>

  </div>
</nav>